In [1]:
print("Sriramajayam")

Sriramajayam

In [2]:
print("Jaya jaya shankara Hara Hara Shankara")

Jaya jaya shankara Hara Hara Shankara

In [24]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime

In [4]:
juncdf = pd.read_csv("junctions.csv")

In [6]:
juncdf

      JunctionID  StreetIntersectCount JunctionType           x          y
0              1                     2     Junction -123.224758  49.274760
1              2                     1     Dead end -123.223865  49.277371
2              3                     1     Dead end -123.222492  49.270937
3              4                     4     Junction -123.220892  49.271168
4              5                     3     Junction -123.220567  49.273832
...          ...                   ...          ...         ...        ...
6563        6564                     3     Junction -123.023343  49.205427
6564        6565                     3     Junction -123.023379  49.291595
6565        6566                     3     Junction -123.023374  49.291945
6566        6567                     2     Junction -123.023359  49.292669
6567        6568                     2        Psudo -123.023309  49.206913

[6568 rows x 5 columns]

In [9]:
crimedf = pd.read_csv("vancrime2022.csv")

In [10]:
crimedf

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2022,1,3,16,19,10XX ALBERNI ST,West End,491036.0799,5.459146e+06
1,Break and Enter Commercial,2022,3,15,5,14,10XX ALBERNI ST,West End,491102.2439,5.459092e+06
2,Break and Enter Commercial,2022,3,19,6,42,10XX ALBERNI ST,West End,491102.2439,5.459092e+06
3,Break and Enter Commercial,2022,2,23,23,0,10XX BALFOUR AVE,Shaughnessy,490699.8049,5.455444e+06
4,Break and Enter Commercial,2022,2,25,10,15,10XX BALFOUR AVE,Shaughnessy,490699.8049,5.455444e+06
...,...,...,...,...,...,...,...,...,...,...
11981,Vehicle Collision or Pedestrian Struck (with I...,2022,1,17,14,36,X BLOCK E 6TH AVE,Mount Pleasant,492400.0000,5.456983e+06
11982,Vehicle Collision or Pedestrian Struck (with I...,2022,5,4,8,57,X BLOCK E HASTINGS ST,Central Business District,492437.0000,5.458749e+06
11983,Vehicle Collision or Pedestrian Struck (with I...,2022,4,17,16,57,X BLOCK SMITHE ST,Central Business District,491778.0000,5.458020e+06
11984,Vehicle Collision or Pedestrian Struck (with I...,2022,5,7,23,52,X BLOCK W HASTINGS ST,Central Business District,492397.0000,5.458756e+06
11985,Vehicle Collision or Pedestrian Struck (with I...,2022,4,16,19,37,X BOUNDARY RD OFRP,Renfrew-Collingwood,498167.0000,5.456558e+06

In [17]:
print(type(crimedf["YEAR"][0]))

<class 'numpy.int64'>

# Added a new feature named "Recency" - which denotes the number of days since the crime occurred compared to today.

## Creation of a column RECENCY -> Calculation of no. of days since crime event -> appending it the dataframe -> (next cell : Convert this dataframe to a new csv)

In [ ]:
crimedf["RECENCY"]=""
i=0
with open('vancrime2022.csv','r') as infile:
    dr = csv.DictReader(infile, quoting=csv.QUOTE_MINIMAL)
    for dict_row in dr:
        tempmonth = dict_row["MONTH"] if int(dict_row["MONTH"])>9 else "0"+str(dict_row["MONTH"])
        tempday = dict_row["DAY"] if int(dict_row["DAY"])>9 else "0"+str(dict_row["DAY"])
        datestr=dict_row["YEAR"]+"-"+tempmonth+"-"+tempday
        recency = (dt.strptime(datetime.today().strftime('%Y-%m-%d'), "%Y-%m-%d") - dt.strptime(datestr, "%Y-%m-%d")).days
        crimedf["RECENCY"][i]=recency
        i+=1

In [48]:
crimedf

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,RECENCY
0,Break and Enter Commercial,2022,1,3,16,19,10XX ALBERNI ST,West End,491036.0799,5.459146e+06,164
1,Break and Enter Commercial,2022,3,15,5,14,10XX ALBERNI ST,West End,491102.2439,5.459092e+06,93
2,Break and Enter Commercial,2022,3,19,6,42,10XX ALBERNI ST,West End,491102.2439,5.459092e+06,89
3,Break and Enter Commercial,2022,2,23,23,0,10XX BALFOUR AVE,Shaughnessy,490699.8049,5.455444e+06,113
4,Break and Enter Commercial,2022,2,25,10,15,10XX BALFOUR AVE,Shaughnessy,490699.8049,5.455444e+06,111
...,...,...,...,...,...,...,...,...,...,...,...
11981,Vehicle Collision or Pedestrian Struck (with I...,2022,1,17,14,36,X BLOCK E 6TH AVE,Mount Pleasant,492400.0000,5.456983e+06,150
11982,Vehicle Collision or Pedestrian Struck (with I...,2022,5,4,8,57,X BLOCK E HASTINGS ST,Central Business District,492437.0000,5.458749e+06,43
11983,Vehicle Collision or Pedestrian Struck (with I...,2022,4,17,16,57,X BLOCK SMITHE ST,Central Business District,491778.0000,5.458020e+06,60
11984,Vehicle Collision or Pedestrian Struck (with I...,2022,5,7,23,52,X BLOCK W HASTINGS ST,Central Business District,492397.0000,5.458756e+06,40
11985,Vehicle Collision or Pedestrian Struck (with I...,2022,4,16,19,37,X BOUNDARY RD OFRP,Renfrew-Collingwood,498167.0000,5.456558e+06,61

In [49]:
crimedf.to_csv("vanc_crime_2022.csv",index=False)

In [52]:
from neo4j import GraphDatabase
uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=('neo4j', 'Nammy@12'))
session = driver.session()

In [135]:
with session.begin_transaction() as tx:
    for record in tx.run("MATCH (c:Crime)-[r]-(j:Junction {id: 6564 }) return c,r,j"):
        print(record["c"]["recency"])

46
35

In [55]:
juncdf = pd.read_csv("junctions.csv")

In [56]:
juncdf

      JunctionID  StreetIntersectCount JunctionType           x          y
0              1                     2     Junction -123.224758  49.274760
1              2                     1     Dead end -123.223865  49.277371
2              3                     1     Dead end -123.222492  49.270937
3              4                     4     Junction -123.220892  49.271168
4              5                     3     Junction -123.220567  49.273832
...          ...                   ...          ...         ...        ...
6563        6564                     3     Junction -123.023343  49.205427
6564        6565                     3     Junction -123.023379  49.291595
6565        6566                     3     Junction -123.023374  49.291945
6566        6567                     2     Junction -123.023359  49.292669
6567        6568                     2        Psudo -123.023309  49.206913

[6568 rows x 5 columns]

In [57]:
juncdf["Vulnerability"]=0

In [58]:
juncdf

,JunctionID,StreetIntersectCount,JunctionType,x,y,Vulnerability
0,1,2,Junction,-123.224758,49.274760,0
1,2,1,Dead end,-123.223865,49.277371,0
2,3,1,Dead end,-123.222492,49.270937,0
3,4,4,Junction,-123.220892,49.271168,0
4,5,3,Junction,-123.220567,49.273832,0
...,...,...,...,...,...,...
6563,6564,3,Junction,-123.023343,49.205427,0
6564,6565,3,Junction,-123.023379,49.291595,0
6565,6566,3,Junction,-123.023374,49.291945,0
6566,6567,2,Junction,-123.023359,49.292669,0
6567,6568,2,Psudo,-123.023309,49.206913,0

In [59]:
from neo4j import GraphDatabase
uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=('neo4j', 'Nammy@12'))
session = driver.session()

In [ ]:
with open('junctions.csv','r') as infile, session.begin_transaction() as tx:
    print("Calculating Crime Junctions' vulnerability")
    dr = csv.DictReader(infile, quoting=csv.QUOTE_MINIMAL)
    for dict_row in dr:
        print(dict_row['JunctionID'])
tx.close()

In [100]:
with session.begin_transaction() as tx:
    for record in tx.run("MATCH (c:Crime)-[r]-(j:Junction {id: 295 }) return c,r,j"):
        print(record["c"])

<Node id=18649 labels=frozenset({'Crime'}) properties={'time_of_crime': '10:32', 'latitude': 49.26960963134447, 'type_of_crime': 'Break and Enter Residential/Other', 'date_of_crime': '2022-03-12', 'recency': 96, 'crime_id': 1183, 'longitude': -123.18930366598265, 'hundred_block': '38XX W 3RD AVE'}>
<Node id=18650 labels=frozenset({'Crime'}) properties={'time_of_crime': '23:00', 'latitude': 49.26952403457776, 'type_of_crime': 'Break and Enter Residential/Other', 'date_of_crime': '2022-03-18', 'recency': 90, 'crime_id': 1184, 'longitude': -123.1887820523123, 'hundred_block': '38XX W 3RD AVE'}>
<Node id=18648 labels=frozenset({'Crime'}) properties={'time_of_crime': '07:00', 'latitude': 49.26960963134447, 'type_of_crime': 'Break and Enter Residential/Other', 'date_of_crime': '2022-01-27', 'recency': 140, 'crime_id': 1182, 'longitude': -123.18930366598265, 'hundred_block': '38XX W 3RD AVE'}>

In [101]:
nocrimenodedict={}
with session.begin_transaction() as tx:
    for record in tx.run("MATCH (j:Junction) WHERE NOT (j)-[:NEAREST_CRIME_JN]-(:Crime) RETURN j"):
        nocrimenodedict[record["j"]["id"]]=True

## For every junction that has atleast one crime id -> calculate the vulnerability score for each junction and add it to the csv file

### If the junction does not have a crime node -> for model purposes assumption is vulnerability is 0

In [ ]:
with open('junctions.csv','r') as infile, session.begin_transaction() as tx:
    dr = csv.DictReader(infile, quoting=csv.QUOTE_MINIMAL)
    for dict_row in dr:
        if int(dict_row['JunctionID']) not in nocrimenodedict: #For every junction that has atleast one crime node
            vul_score=0
            lambda_factor=0.01
            delt=1
            for record in tx.run(("MATCH (c:Crime)-[r]-(j:Junction {id: $a }) return c,r,j"),a=int(dict_row['JunctionID'])):
                vul_score+=((1-lambda_factor*delt)**(record["c"]["recency"]))
                print(record["c"]["recency"]) 
            juncdf.at[int(dict_row['JunctionID'])-1,'Vulnerability']=vul_score
tx.close()

In [136]:
vul_score=0
lambda_factor=0.01
delt=1
with session.begin_transaction() as tx:
    for record in tx.run(("MATCH (c:Crime)-[r]-(j:Junction {id: 6564}) return c,r,j")):
        vul_score+=((1-lambda_factor*delt)**(record["c"]["recency"]))
        print(record["c"]["recency"])
print("Vulnerability : ",vul_score)

46
35
Vulnerability :  1.3332713262028015

In [132]:
juncdf

,JunctionID,StreetIntersectCount,JunctionType,x,y,Vulnerability
0,1,2,Junction,-123.224758,49.274760,0.000000
1,2,1,Dead end,-123.223865,49.277371,0.000000
2,3,1,Dead end,-123.222492,49.270937,0.000000
3,4,4,Junction,-123.220892,49.271168,0.000000
4,5,3,Junction,-123.220567,49.273832,0.000000
...,...,...,...,...,...,...
6563,6564,3,Junction,-123.023343,49.205427,1.333271
6564,6565,3,Junction,-123.023379,49.291595,0.000000
6565,6566,3,Junction,-123.023374,49.291945,0.000000
6566,6567,2,Junction,-123.023359,49.292669,0.000000
6567,6568,2,Psudo,-123.023309,49.206913,0.000000

In [137]:
juncdf.to_csv("tempjunc.csv",index=False)

In [139]:
juncdf["Vulnerability"].max()

173.14529004826298